.main{
    background-color: #F3F3F3;
    min-height: 100vh;
    padding-bottom: 200px;
}

.content-table {
    max-height: 70vh;
    overflow: auto;
    width: 100%;
    background-color: #F3F3F3;
}

.searchBars {
  display: flex;
  justify-content: "flex-start";
  background-color: #fff;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  min-width: 450px;
  border-radius: 15px;
}

  /* Small screens */
  @media only screen and (max-width: 1000px) {
    .main {
        height: auto;
    }
  }