:root {
    --primary: #E76300;
    --secondary: #fff;
}

.main{
    background-color: #F3F3F3;
    height: 100vh;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.title {
    text-align: left;
    padding-top: 0.2em;
    color: var(--primary);
}

.btn {
    margin-left: auto;
    color: #fff;
    background-color: var(--primary);
    border-radius: 5px;
}

.btn-icon {
}


.line {
    border: 1px solid var(--secondary);
    width: 100%;
}