.run-container {
    padding-right: 200px;
    padding-left: 100px;
}

.description {
    margin-top: 40px;
    margin-bottom: 60px;
    text-align: justify;
    text-justify: inter-word;
}

.run-dropzone {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #D3D3D3;
    font-weight: normal;
    font-size: 30px;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

.run-boxes {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.run-box {
    width: 100%;
    padding-right: 20px;
}

.clear-button-fat {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #141418;
    color: white;
    padding: 10px;
    border-radius: 10px;
    width: 48%;
    border: none;
    font-size: 15px;
    font-weight: bold;
}

.clear-button-fat:hover {
    background-color: #323234;
    cursor: pointer;
}

.submit-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E76300;
    color: white;
    padding: 10px;
    border-radius: 10px;
    width: 48%;
    border: none;
    font-size: 15px;
    font-weight: bold;
}

.submit-button:hover {
    background-color: #F38E00;
    cursor: pointer;
}

.submit-button-disabled {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E76300;
    color: white;
    padding: 10px;
    border-radius: 10px;
    width: 48%;
    border: none;
    font-size: 15px;
    font-weight: bold;
    filter: grayscale(10%) opacity(0.6);
}

.run-buttons {
    display: flex;
    justify-content: space-between;
    height: 50px;
    margin-top: 20px;
}

.link-text {
    display: none;
    margin-left: 1rem;
}

.run-labels {
    color: #E76300;
    justify-self: left;
    text-align: left;
    margin-left: 1rem;
}

.run-fileName {
    color: black;
}

.run-fileName:hover {
    color: black;
    text-decoration: underline;
    cursor: pointer;

}

@media only screen and (max-width: 1200px) {
    .run-container {
        padding-right: 100px;
        padding-left: 50px;
    }
}

@media only screen and (max-width: 600px) {
    .run-container {
        padding-right: 10px;
        padding-left: 10px;
    }
}