body {
    background-color: #242222;
}

.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 6vh;
}

.form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.inner-form {
}

.form-group{
    padding: 0.3em;
    color: #fff;
}

.login-logo{
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 10%;
    margin-bottom: 10%;
}

.top > h1 {
    text-align: center;
    color: #fff;
    margin-bottom: 1em;
}

input, label {
    display:block;
}

label {
    padding: 0 1em 0.2em;
    font-size: 14px;
}

input {
    padding: 0 2em;
    letter-spacing: 0.05em;
}

input[type=name] {
    padding:10px; 
    border:3px solid #E76300; 
    -webkit-border-radius: 5px;
    border-radius: 5px;
    width: 250px;
    height: 35px;
}

input[type=name]:focus {
    border-color:#fff;
}

input[type=email] {
    padding:10px; 
    border:3px solid #E76300; 
    -webkit-border-radius: 5px;
    border-radius: 5px;
    width: 250px;
    height: 35px;
}

input[type=email]:focus {
    border-color:#fff;
}

input[type=password] {
    padding:10px; 
    border:3px solid #E76300; 
    -webkit-border-radius: 5px;
    border-radius: 5px;
    width: 250px;
    height: 35px;
}

input[type=password]:focus {
    border-color:#fff;
}

input[type=submit] {
    width: 250px; 
    height: 35px;
    background:#E76300; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
    margin: auto;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
}

input[type=submit]:hover {
    border:3px solid #E76300; 
    background:#fff; 
    color: #E76300;

}

.button-holder {
    margin-top: 20px;
}

.slider {
    margin-top: 1em;
    margin-bottom: 2em;
}

.slider-labels {
    color: #fff;
}

.slider-text {
    display: inline-block;
    text-align: center;
    width: 125px;
    cursor:pointer;
}

hr {
    display: inline-block;
    width: 125px; 
}
