.main-button {
  margin-left: auto;
  color: #fff;
  background-color: #0385b0;
  border-radius: 10px;
  padding: 0.7em 2em;
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
}

.main-button:hover {
  background-color: #51adce;
}

.btn-icon {
  margin-left: 1em;
}
