.header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.title {
    text-align: left;
    padding-top: 0.2em;
    color: #E76300;
}

.line {
    border: 1px solid #fff;
    width: 100%;
}