:root {
    --primary: #fff;
    --secondary: #E76300;
}

.btn{
    padding: 8px 20px;
    border-radius: 2px;
    outline: none;
    border: none;
    cursor: pointer;
}

.btn--primary{
    background-color: var(--primary);
    color: #242424;
    border: 1px solid var(--primary);
    white-space: nowrap;
    text-align: center;
}

.btn--outline{
    background-color: transparent;
    color: #fff;
    padding: 8px 20px;
    border: 2px solid var(--secondary);
    transition: all 0.3s ease-out;
    white-space: nowrap;
    text-align: center;
}

.btn-medium{
    padding: 8px 20px;
    font-size: 20px;
}

.btn-large{
    padding: 12px 26px;
    font-size: 20px;
}

.btn--medium:hover, .btn--large:hover {
    background: #fff;
    color: var(--secondary);
    transition: all 0.3s ease-out;
}