:root {
    font-size: 16px;
    font-family: 'Open Sans';
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --transition-speed: 600ms;
  }
  
  .main {
    color: black;
    background-color: white;
    margin: 0;
    padding: 0;
  }
  
  .main::-webkit-scrollbar {
    width: 0.25rem;
  }
  
  .main::-webkit-scrollbar-track {
    background: #1e1e24;
  }
  
  .main::-webkit-scrollbar-thumb {
    background: #6649b8;
  }
  
  .main {
    margin-left: 4rem;
    padding: 1rem;
    padding-left: 3em;
  }

.sidebar {
    position: fixed;
    background-color: var(--bg-primary);
    transition: width 300ms ease;
    overflow: scroll;
    overflow-x: hidden;
  }
  
  .sidebar-side {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }
  
  .side-item {
    width: 100%;
  }

  .side-item:last-child {
    margin-top: auto;
  }
  
  .side-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
  }
  
  .side-link:hover {
    filter: grayscale(0%) opacity(1);
    background: var(--bg-secondary);
    color: var(--text-secondary);
    cursor: pointer;
  }
  
  .side-link svg {
    width: 2rem;
    min-width: 2rem;
    margin: 0 1.5rem;
  }
  
  .fa-primary {
    color: #e76300;
  }
  
  .fa-secondary {
    color: #f38e00;
  }
  
  .fa-primary,
  .fa-secondary {
    transition: var(--transition-speed);
  }
  
  .logo {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--text-secondary);
    background: var(--bg-secondary);
    font-size: 1.5rem;
    letter-spacing: 0.1ch;
    width: 100%;
  }
  
  .logo svg {
    transform: rotate(0deg);
    transition: var(--transition-speed);
  }

  .icon {
      font-size: 28px;
  }  
  
  .logo-text {
    display: inline;
    position: absolute;
    left: -999px;
    transition: var(--transition-speed);
    padding-left: 1rem;
    margin-right: 1rem;
  }
  
  .sidebar:hover .logo svg {
    transform: rotate(-360deg);
    color: #e76300;
  }
  
  /* Small screens */
  @media only screen and (max-width: 600px) {
    .sidebar {
      bottom: 0;
      width: 100vw;
      height: 5rem;
      overflow: auto;
    }
  
    .logo {
      display: none;
    }
  
    .sidebar-side {
      flex-direction: row;
    }
  
    .side-link {
      justify-content: center;
    }
  
    .main {
      margin: 0;
      padding-left: 1rem;
    }
  }
  
  /* Large screens */
  @media only screen and (min-width: 600px) {
    .sidebar {
      top: 0;
      width: 5rem;
      height: 100vh;
      overflow: hidden;
    }
  
    .sidebar:hover {
      width: 15rem;
    }
  
    .sidebar:hover .link-text {
      display: inline;
    }
  
    .sidebar:hover .logo svg
    {
      margin-left: 11rem;
    }
  
    .sidebar:hover .logo-text
    {
      left: 0px;
    }
  }

  