react-router-dom
js-cookie
querystring
axios
@fortawesome/fontawesome-svg-coreS
@fortawesome/free-solid-svg-icons
@fortawesome/react-fontawesome
@fortawesome/free-brands-svg-icons
react-dropzone
formik
@material-ui/core
formik-material-ui
yup
react-flash-message    
@material-ui/lab 
@mui/material
@emotion/react
@emotion/styled
@mui/icons-material
react-anchorme
@auth0/auth0-react